%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &:hover,
    &:focus {
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.7;
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}
%btn-primary {
  @extend %btn;
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 50px 10px 30px;
  transition: all .5s;
  min-width: 200px;
  letter-spacing: .07em;
  border: 1px solid transparent;
  text-transform: uppercase;
  position: relative;
  background-color: transparent;
  &:after {
    content: url(../images/icon-arrow.png);
    display: block;
    width: 13px;
    height: 13px;
    /*        border-top: 2px solid currentColor;
            border-right: 2px solid currentColor;*/
    position: absolute;
    right: 20px;
    top: 14px;
    /*transform: rotate(45deg);*/
    transition: .3s border;
    @include media('<tablet-l') {
      width: 14px;
      height: 14px;
      top: 15px;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transform: translate(-50%, -50%);
    border: 1px dotted currentColor;
    opacity: 0;
    transition: .3s;
  }
  &:focus {
    outline: none;
    background-color: transparent;
    &:before {
      opacity: 1;
    }
  }
}
%btn-dark {
  @extend %btn-primary;
  color: $c-primary;
  border-color: $c-primary;
  border-radius: 35px;
  font-family: $f-secondary-b;
  &:hover {
    color: white;
    background-color: $c-primary;
    &:after{
      content: url(../images/icon-arrow-white.png);
    }
  }
  &:focus {
    color: $c-primary;
    border-color: $c-primary;
    background-color: transparent;
  }
}
%btn-light {
  @extend %btn-primary;
  color: $c-white;
  border-color: $c-white;
  border-radius: 35px;
  font-family: $f-secondary-b;
  font-size: 18px;
  &:hover  {
    color: $c-base;
    background-color: $c-white;
    &:after{
      content: url(../images/icon-arrow-dark.png);
    }
  }
  &:after{
    top: 13px;
    content: url(../images/icon-arrow-dark.png);
  }
  &:focus {
    color: $c-bright;
    border-color: $c-bright;
    background-color: transparent;
  }
}
