.main-footer {
    background-color: $c-str;
    @include media('>=tablet') {
        padding: 37px 0;
    }
    @include media('<tablet') {
        padding: 17px 0;
    }
    &__inner {
        display: flex;
        @include media('>=tablet') {
            align-items: center;
        }
        @include media('<tablet') {
            align-items: flex-end;
        }
    }
    &__powered {
        font-size: 16px;
        @include media('>=tablet-l') {
            display: flex;
            align-items: center;
        }
        @include media('<tablet') {
            font-size: 12px;
        }
    }
    &__right {
        margin-left: auto;
        @include media('>=tablet') {
            display: flex;
            align-items: center;
        }
        @include media('<tablet') {
            max-width: 150px;
        }
    }
    &__copyright {
        font-size: 16px;
        @include media('>=tablet') {
            margin-right: 40px;
        }
        @include media('<tablet') {
            font-size: 12px;
            line-height: 14px;
        }
    }
    &__nav {
        font-size: 16px;
        @include media('<tablet') {
            font-size: 12px;
            line-height: 14px;
        }
        a {
            color: $c-base;
            &:hover {
                color: $c-primary;
            }
        }
    }
    .powered-title {
        @include media('<tablet') {
            margin-bottom: 5px;
        }
    }
    .q-icon {
        width: 126px;
        height: 55px;
        fill: $c-str-2;
        @include media('>=tablet-l') {
            margin-left: 15px;
        }
        @include media('<tablet') {
            width: 82px;
            height: 36px;
        }
    }
}