html {
    &[dir="rtl"] {
        * {
            direction: rtl;
        }
        text-align: right;
        body {
            text-align: right;
        }
        [class*='btn-primary'],
        .news-block__cta a,
        .oas--cta a {
            padding: 10px 30px 10px 50px;
            &:after {
                transform: rotate(-135deg);
                left: 20px;
                right: auto;
            }
        }
        .main-header {
            .navbar__top {
                margin-left: 0;
                margin-right: auto;
            }
        }
        .menu--lang {
            margin-right: 0;
            margin-left: 30px;
            @include media('<tablet') {
                margin-left: 15px;
            }
        }
        .menu--user {
            .q-icon {
                margin-left: 0;
                margin-right: 7px;
            }
        }
        .front-banner--main {
            .front-banner__description {
                margin-left: auto;
            }
        }
        .front-banner__title {
            @include media('>=tablet-l') {
                line-height: 75px;
            }
        }
        .block-title {
            @include media('>=tablet-l') {
                line-height: 60px;
            }
        }
        .info-block {
            .block-title {
                margin-bottom: 35px;
            }
            &__list {
                li {
                    padding-left: 0;
                    padding-right: 45px;
                    &:before {
                        left: auto;
                        right: 0;
                    }
                }
                .q-icon {
                    left: auto;
                    right: 0;
                }
            }
            &__actions {
                a {
                    &:first-child {
                        margin-right: 0;
                    }
                }
            }
            &.is-image--large {
                .info-block__content {
                    padding-left: 0;
                    @include media('>=tablet-l') {
                        padding-right: 200px;
                    }
                    @include media('<tablet-l') {
                        padding-right: 40px;
                    }
                    @include media('<tablet') {
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                }
                .info-block__col {
                    &:not(.is-image) {
                        padding-left: 0;
                    }
                }
                .info-block__image {
                    background-position: top left;
                    transform: scaleX(-1);
                }
            }
            h3 {
                .q-icon {
                    margin-right: 0;
                    margin-left: 17px;
                }
                + p {
                    padding-left: 0;
                    padding-right: 65px;
                }
            }
        }
        .finance-block {
            .block-title {
                margin-bottom: 35px;
            }
        }
        .map-block {
            &__info {
                p {
                    padding-left: 0;
                    padding-right: 30px;
                    i {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .main-footer {
            &__right {
                margin-left: 0;
                margin-right: auto;
                @include media('<tablet') {
                    margin-right: 0;
                }
            }
            &__copyright {
                margin-right: 0;
                @include media('>tablet') {
                    margin-left: 40px;
                }
            }
            .powered-title {
                @include media('<tablet') {
                    margin-left: 10px;
                }
            }
            .q-icon {
                margin-left: 0;
                @include media('>tablet-l') {
                    margin-right: 15px;
                }
            }
        }
        .swiper-button-prev {
            left: auto;
            right: 4px;
            transform: rotate(135deg);
        }
        .swiper-button-next {
            left: 4px;
            right: auto;
            transform: rotate(-135deg);
        }
        .main-header {
            .navbar__group {
                margin-left: 0;
                margin-right: 70px;
            }
            .header-search {
                @include media('>tablet-l') {
                    margin-right: 30px;
                    margin-left: 0;
                }
                @include media('<=tablet-l') {
                    margin-right: 28px;
                    margin-left: 0;
                    &:before {
                        right: -14px;
                        left: auto;
                    }
                }
                &__box {
                    left: 100%;
                    right: auto;
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
            .navbar__bot--main {
                .menu--user {
                    margin-left: 0;
                    @include media('>tablet-l') {
                        margin-right: auto;
                    }
                    li {
                        &:not(:last-child) {
                            margin-right: 0;
                        }
                        &:not(:first-child) {
                            @include media('>tablet') {
                                margin-right: 20px;
                            }
                        }
                    }
                    a[href*='login'],
                    a[href*='logout'],
                    .is-login {
                        &:after {
                            margin-left: 0;
                            margin-right: 7px;
                        }
                    }
                }
                @include media('<=tablet-l') {
                    &:not(.is-opened) {
                        transform: translateX(-100%);
                    }
                    .logo {
                        right: 25px;
                        left: auto;
                    }
                }
            }
        }
        .header-toggle-close {
            @include media('<=tablet-l') {
                right: auto;
                left: 25px;
            }
        }
        .menu--links {
            @include media('>tablet-l') {
                margin-right: auto;
                margin-left: 0;
            }
            &__list {
                li {
                    &:not(:last-child) {
                        @include media('>tablet-l') {
                            margin-right: 0;
                        }
                        @include media('<=tablet-l') {
                            &:after {
                                display: none;
                            }
                        }
                    }
                    &:not(:first-child) {
                        @include media('>tablet-l') {
                            margin-right: 30px;
                        }
                        @include media('<=tablet-l') {
                            position: relative;
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                height: 18px;
                                width: 1px;
                                background-color: white;
                                top: 50%;
                                right: -22px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
        .menu--main {
            &__list {
                li {
                    &:not(:last-child) {
                        margin-right: 0;
                        @include media('>tablet-l') {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
        .menu--lang__main {
            @include media('<=tablet-l') {
                margin-left: 28px;
                margin-right: 0;
                &:before {
                    right: auto;
                    left: -14px;
                }
            }
            li {
                &:not(:last-child) {
                    @include media('>tablet-l') {
                        padding-right: 0;
                        margin-right: 0;
                        padding-left: 12px;
                        margin-left: 12px;
                        &:after {
                            display: none;
                        }
                    }
                }
                &:not(:first-child) {
                    @include media('>tablet-l') {
                        &:before {
                            content: '';
                            display: block;
                            width: 2px;
                            height: 14px;
                            background-color: white;
                            position: absolute;
                            left: calc(100% + 11px);
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        .menu--lang__main-list {
            @include media('<=tablet-l') {
                left: auto;
                right: 0;
            }
        }
        .menu--lang__main-icon {
            @include media('>tablet-l') {
                margin-left: 7px;
                margin-right: 0;
            }
        }
        .stock-ticker-container {
            .stock-ticker {
                .st-label {
                    margin-right: 0;
                    margin-left: 10px;
                }
                .st-value {
                    &:after {
                        margin-left: 0;
                        margin-right: 3px;
                    }
                }
            }
        }
        .nb-item__link {
            a {
                &:after {
                    margin-right: 3px;
                    transform: rotate(-135deg);
                }
            }
        }
        .nb-item__topic {
            .q-icon {
                margin-right: 0;
                margin-left: 10px;
            }
        }
        .search-result--articles {
            .view-content {
                .category {
                    &:before {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
        .services-block {
            .sb__links {
                &--list {
                    li {
                        &:not(:last-child) {
                            @include media('>=tablet-l') {
                                margin-right: 0;
                                margin-left: 12px;
                            }
                            @include media('<tablet-l') {
                                margin-left: 5px;
                            }
                        }
                        &:last-child {
                            @include media('<tablet-l') {
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                    }
                    span {
                        &:before {
                            margin-right: 0;
                            margin-left: 5px;
                        }
                    }
                    .q-icon {
                        margin-right: 0;
                        margin-left: 5px;
                    }
                }
                &--title {
                    @include media('>=tablet-l') {
                        margin-right: 0;
                        margin-left: 15px;
                    }
                }
            }
        }
        .user-login-form, .user-pass,
        .contextual-region.profile {
            .form-item {
                text-align: right;
            }
        }
        .form-actions {
            input {
                padding: 10px 30px 10px 50px;
            }
            &:after {
                left: 20px;
                right: auto;
                transform: rotate(-135deg);
            }
        }
        .post-full__category {
            .q-icon {
                margin-right: 0;
                margin-left: 10px;
            }
        }
        .post-full__right {
            @include media('>=tablet') {
                padding-left: 0;
                padding-right: 40px;
            }
        }
        .article-block__all {
            .view-filters {
                @include media('>=tablet') {
                    right: auto;
                    left: 0;
                }
            }
            .nb-item__link {
                right: auto;
                left: 40px;
            }
            .view-filters {
                .form--inline {
                    .form-item {
                        &:not(:first-child) {
                            @include media('>=tablet') {
                                margin-left: 0;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
        .tabs-filters {
            .bef-links {
                > div {
                    &:not(:last-child) {
                        @include media('>=tablet') {
                            border-right: 0;
                            border-left: 1px solid $c-str-8;
                        }
                    }
                }
            }
        }
        .pagination {
            .pager__item--first {
                margin-right: 0;
                margin-left: 10px;
                a {
                    transform: scaleX(-1);
                }
            }
            .pager__item--last {
                margin-left: 0;
                margin-right: 10px;
                a {
                    transform: scaleX(-1);
                }
            }
            .pager__item--previous {
                a {
                    &:before {
                        transform: rotate(45deg);
                        margin-right: 0;
                        margin-left: auto;
                    }
                }
            }
            .pager__item--next {
                a {
                    &:after {
                        transform: rotate(-135deg);
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }
        }
        .select2-container--filter-q8 {
            .select2-selection__arrow {
                right: auto;
                left: 12px;
            }
        }
        .ajax-progress-fullscreen {
            left: 0;
            right: auto;
        }
        .pagination {
            .pager__item--last {
                a {
                    &:after {
                        @include media('<tablet') {
                            right: -5px;
                        }
                    }
                }
            }
            .pager__item--first {
                a {
                    &:before {
                        @include media('<tablet') {
                            left: -5px;
                        }
                    }
                }
            }
        }
        .form-actions {
            .ajax-progress {
                right: auto;
                left: 40px;
            }
        }
        .form-radios {
            .form-item {
                @include media('>=tablet') {
                    padding-right: 0;
                    padding-left: 23px;
                }
            }
        }
        .form-type-radio {
            label {
                padding-left: 0;
                padding-right: 25px;
                &:before {
                    left: auto;
                    right: 0;
                }
            }
        }
        .base-form {
            .fieldgroup {
                legend {
                    @include media('>tablet-l') {
                        float: right;
                        padding-right: 0;
                        padding-left: 20px;
                    }
                }
            }
            .fieldset-wrapper {
                @include media('>tablet-l') {
                    float: left;
                }
            }
            .placeholder-label {
                padding-left: 0;
                padding-right: 27px;
                left: auto;
                right: 0;
                @include media('<tablet') {
                    padding-right: 16px;
                }
            }
        }
        .open-account-form {
            &:after {
                left: auto;
                right: -30px;
            }
        }
        .open-account-dialog {
            &.is-error {
                .item-list {
                    li {
                        padding-left: 0;
                        padding-right: 25px;
                        text-align: right;
                        &:before, &:after {
                            left: auto;
                            right: -1px;
                        }
                    }
                }
            }
            &.is-confirm {
                &:after {
                    left: auto;
                    right: 0;
                }
            }
        }
        div.ui-dialog {
            .ui-dialog-titlebar-close {
                right: auto;
                left: 30px;
                @include media('<tablet') {
                    left: 20px;
                }
            }
        }
        .overview-search {
            &__form {
                input[type=text] {
                    @include media('>=tablet') {
                        padding-left: 60px;
                        padding-right: 33px;
                    }
                    @include media('<tablet') {
                        padding-left: 40px;
                        padding-right: 16px;
                    }
                }
                .button {
                    left: 0;
                    right: auto;
                }
            }
        }
        .secondary-header {
            .sh--menu {
                margin-left: 0;
                margin-right: auto;
            }
            .sh--lang {
                margin-right: 0;
                margin-left: 35px;
                @include media('<tablet-l') {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
            .sh--account {
                .is-login,
                [href*='login'] {
                    &:after {
                        margin-left: 0;
                        margin-right: 7px;
                        @include media('<tablet-l') {
                            margin-right: 0;
                        }
                    }
                }
            }
            .sh--back {
                a {
                    &:before {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
            .menu--lang__main li {
                &:before {
                    display: none!important;
                }
                &:not(.is-active) {
                    right: auto;
                    left: calc(100% + 15px);
                }
                &:not(:last-child) {
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }
        .questionnaire {
            &__steps-list {
                li {
                    margin: 0 15px;
                    &:first-child {
                        margin-left: 15px;
                        margin-right: 0;
                    }
                    &:last-child {
                        margin-left: 0;
                        margin-right: 15px;
                    }
                }
            }
            &__form {
                .form-actions {
                    .button {
                        &[data-drupal-selector='edit-next'],
                        &[data-drupal-selector='edit-finish'] {
                            margin-left: 0;
                            margin-right: auto;
                        }
                    }
                }
                .form-type-radio {
                    label {
                        padding-left: 0;
                        padding-right: 35px;
                        @include media('<tablet-l') {
                            padding-left: 0;
                            padding-right: 25px;
                        }
                    }
                }
                .form-checkboxes {
                    .form-item {
                        label {
                            padding-left: 0;
                            padding-right: 65px;
                            @include media('<tablet-l') {
                                padding-left: 0;
                                padding-right: 55px;

                            }
                            &:before {
                                left: auto;
                                right: 0;
                            }
                            &:after {
                                left: auto;
                                right: 4px;
                            }
                        }
                        input {
                            &:checked {
                                + label {
                                    &:after {
                                        transform: translateX(-20px);
                                        @include media('<tablet-l') {
                                            transform: translateX(-18px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}