@import 'core/core';
.finance-block {
    background-color: $c-primary;
    background-image: url('../images/callout-bg.png');
    background-size: contain;
    @include media('>=tablet-l') {
        height: 862px;
        display: flex;
        align-items: center;
    }
    @include media('<tablet-l', '>=tablet') {
        padding: 90px 0;
        background-repeat: no-repeat;
        background-position: center;
    }
    @include media('<tablet') {
        padding: 50px 0;
        background-size: auto;
    }
    .page-frame{
        display: flex;
        @include media('<tablet') {
            flex-wrap: wrap;
        }
    }
    .block-title {
        color: white;
    }
    .block-description {
        color: white;
        @include media('>=tablet') {
            margin-bottom: 40px;
        }
        @include media('<tablet') {
            margin-bottom: 25px;
        }
    }
    &__inner {
        @include media('<tablet') {
            padding: 0 15px;
            position: relative;
        }
    }
    &__grid {
        display: block;
        @include media('>=tablet') {
            justify-content: center;
        }
    }
    &__col {
        margin-bottom: 30px;
        @include media('>=tablet') {
            flex-basis: 0;
            flex-grow: 1;
            height: auto;
        }
        @include media('>=tablet-l') {
            padding: 0 30px;
        }
        @include media('<tablet-l', '>=tablet') {
            padding: 0 10px;
        }
        @include media('<tablet') {
            padding: 0 7px;
            margin-bottom: 0;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media('<tablet') {
            margin-bottom: 15px;
            flex-basis: 30%;
            place-items: flex-end;
        }
        .q-icon {
            fill: white;
            @include media('<tablet') {
                max-width: 70px;
            }
        }
    }
    &__description {
        color: white;
        font-size: 22px;
        line-height: 26px;
        max-width: 230px;
        margin-left: 30px;
        @include media('<tablet-l', '>=tablet') {
            font-size: 18px;
            line-height: 24px;
        }
        @include media('<tablet') {
            font-size: 17px;
            line-height: 20px;
            flex-basis: calc(70% - 30px);
        }
    }
    &__btn {
        text-align: center;
        display: flex;
        @include media('>=tablet-l') {
            padding-top: 30px;
            flex-basis: calc(70% - 30px);
        }
        @include media('<tablet-l') {
            padding-top: 0px;
            flex-wrap: wrap;
        }
        a {
            min-width: 250px;
            @include media('>=tablet-l') {
                margin: 0 12px;
                &:first-child{
                    margin-left: 0;
                }
            }
            @include media('<tablet-l') {
                margin-bottom: 20px;
            }
            @include media('<tablet') {
                width: 100%;
            }
            &:not(:last-child) {
                @include media('<tablet') {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .swiper-container {
        @include media('>=tablet') {
            overflow: visible;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        border-color: white;
        &:hover {
            border-color: white;
        }
        @include media('>=tablet') {
            display: none;
        }
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev {
        left: 0;
    }
    .finance-block-right{
        margin: 0 auto;
        .layout__region{
            display: flex;
            place-items: center;
        }
        @include media('<tablet') {
            margin-top: 30px;
        }
    }
    .finance-block-left{
        @include media('<tablet-l') {
            flex-basis: 50%;
            margin: 0 auto;
        }
    }
}