@import 'core/core';
.path-quiz {
    background-color: $c-primary;
}
.questionnaire {
    background-color: $c-primary;
    padding: 35px 0 55px;
    min-height: calc(100vh - 134px);
    position: relative;
    overflow: hidden;
    @include media('<tablet-l') {
        min-height: calc(100vh - 75px);
        padding: 20px 0 25px;
    }
    @include media('<tablet') {
        padding-top: 10px;
    }
    .page-frame {
        @include media('<tablet-l') {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &__progress-bar {
        position: relative;
        z-index: 1;
    }
    &__steps-list {
        color: white;
        margin-bottom: 4vw;
        border-bottom: 2px solid #c7e5e7;
        @include media('<tablet-l') {
            margin-bottom: 70px;
        }
        @include media('<tablet') {
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 50px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background: linear-gradient(to right, rgba(34,153,161,0) 0%,rgba(34,153,161,1) 100%);
                opacity: .7;
                pointer-events: none;
                z-index: 1;
            }
        }
        ul {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media('<tablet') {
                overflow: auto;
            }
        }
        li {
            margin: 0 15px;
            padding-bottom: 20px;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            position: relative;
            @include media('<tablet-l') {
                font-size: 14px;
                padding-bottom: 10px;
            }
            @include media('<tablet') {
                white-space: nowrap;
                display: flex;
                align-items: center;
                padding-bottom: 7px;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                margin: 0 auto 17px;
                border: 2px solid white;
                opacity: .7;
                border-radius: 50%;
                transition: .4s;
                @include media('<tablet-l') {
                    margin-bottom: 9px;
                    width: 15px;
                    height: 15px;
                }
                @include media('<tablet') {
                    margin-bottom: 0;
                    margin-right: 10px;
                    margin-top: -2px;
                }
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: white;
                opacity: 0;
            }
            &.is-active {
                &:before {
                    opacity: 1;
                    background-color: white;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    .block-system {
        > .content {
            min-height: calc(100vh - 225px);
            display: flex;
            flex-direction: column;
            @include media('<tablet-l') {
                min-height: calc(100vh - 120px);
            }
            @include media('<tablet') {
                min-height: calc(100vh - 110px);
            }
        }
    }
    [data-drupal-selector='q8-quiz'] {
        display: flex;
        flex-direction: column;
        min-height: inherit;
        .questionnaire__form {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .form-actions {
            margin-top: auto;
        }
    }
    &__form {
        .form-item-description {
            color: white;
            font-size: 70px;
            line-height: 1.3;
            @include media('<tablet-l') {
                font-size: 35px;
            }
            @include media('<tablet') {
                font-size: 28px;
                line-height: 1.5;
            }
            h2, h3 {
                font-size: 50px;
                line-height: 1.2;
                margin-bottom: 15px;
                @include media('<tablet-l') {
                    font-size: 28px;
                }
            }
            .small {
                font-size: 22px;
                line-height: 1.5;
                @include media('<tablet-l') {
                    font-size: 18px;
                }
            }
            .center {
                text-align: center;
            }
        }
        .form-actions {
            display: flex;
            justify-content: space-between;
            padding-top: 25px;
            cursor: auto!important;
            position: static;
            &:before, &:after {
                display: none;
            }
            .button {
                color: white;
                border-color: white;
                border-radius: 5px;
                width: auto;
                min-width: 133px;
                letter-spacing: -0.03em;
                @include media('<tablet-l') {
                    font-size: 16px;
                    min-width: 120px;
                }
                @include media('<mobile-m') {
                    font-size: 14px;
                }
                @include media('<tablet') {
                    background-size: 10px;
                }
                &:before, &:after {
                    display: none;
                }
                &[data-drupal-selector='edit-next'],
                &[data-drupal-selector='edit-finish'] {
                    background-color: white;
                    color: #414141;
                    margin-left: auto;
                    margin-right: 0;
                    background-image: url('../images/icons/svg/icon-arrow-right-dark.svg');
                    background-repeat: no-repeat;
                    background-position: calc(100% - 30px) center;
                    padding: 11px 60px 9px 30px;
                    @include media('<tablet-l') {
                        padding: 7px 50px 6px 25px;
                        background-position: calc(100% - 20px) center;
                    }
                    @include media('<tablet') {
                        padding: 7px 15px 6px 15px;
                        justify-content: flex-start;
                        background-position: calc(100% - 15px) center;
                    }
                    &:not(:disabled):hover {
                        background-image: url('../images/icons/svg/icon-arrow-right-white.svg');
                        color: white;
                        background-color: transparent;
                    }
                }
                &[data-drupal-selector='edit-finish'] {
                    @include media('<tablet') {
                        padding: 7px 32px 6px 15px;
                    }
                }
                &[data-drupal-selector='edit-previous'] {
                    background-color: transparent;
                    color: white;
                    background-image: url('../images/icons/svg/icon-arrow-left-white.svg');
                    background-repeat: no-repeat;
                    background-position: 30px center;
                    padding: 11px 30px 9px 60px;
                    @include media('<tablet-l') {
                        padding: 7px 25px 6px 50px;
                        background-position: 20px center;
                    }
                    @include media('<tablet') {
                        padding: 7px 15px 6px 15px;
                        justify-content: flex-end;
                        background-position: 15px center;
                    }
                    &:not(:disabled):hover {
                        background-image: url('../images/icons/svg/icon-arrow-left-dark.svg');
                        background-color: white;
                        color: #414141;
                    }
                }
            }
            .ajax-progress {
                left: 50%;
                margin-left: -15px;
                margin-top: -15px;
                width: 30px;
                height: 30px;
                &:before {
                    position: relative;
                    z-index: 1;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background-color: white;
                    opacity: .1;
                    transform: translate(-50%, -50%);
                    width: 120vw;
                    height: 200vh;
                }
            }
        }
        .form-radios {
            display: block;
            .form-item {
                &:not(:last-child) {
                    margin-bottom: 20px;
                    padding: 0;
                    @include media('<tablet-l') {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .form-type-radio {
            label {
                color: white;
                font-weight: 400;
                display: inline-block;
                padding-left: 35px;
                @include media('<tablet-l') {
                    font-size: 18px;
                    padding-left: 25px;
                }
                &:before {
                    border-color: white;
                    @include media('<tablet-l') {
                        top: 3px;
                    }
                }
            }
            input {
                &:checked {
                    + label {
                        &:before {
                            background-color: white;
                        }
                    }
                }
            }
        }
        .form-checkboxes {
            .form-item {
                margin: 0;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 20px;
                    @include media('<tablet-l') {
                        margin-bottom: 10px;
                    }
                }
                label {
                    margin: 0;
                    display: inline-block;
                    padding-left: 65px;
                    position: relative;
                    color: white;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 1.2;
                    @include media('<tablet-l') {
                        font-size: 18px;
                        padding-left: 55px;
                    }
                    &:before, &:after {
                        content: '';
                        display: block;
                        position: absolute;
                    }
                    &:before {
                        left: 0;
                        top: -1px;
                        width: 46px;
                        height: 25px;
                        border-radius: 18px;
                        border: 2px solid white;
                        @include media('<tablet-l') {
                            width: 40px;
                            height: 20px;
                        }
                    }
                    &:after {
                        left: 4px;
                        top: 3px;
                        border-radius: 50%;
                        width: 17px;
                        height: 17px;
                        border: 2px solid white;
                        transition: .5s;
                        @include media('<tablet-l') {
                            width: 14px;
                            height: 14px;
                            top: 2px;
                        }
                    }
                }
                input {
                    display: none;
                    &:checked {
                        + label {
                            &:after {
                                background-color: white;
                                transform: translateX(20px);
                                @include media('<tablet-l') {
                                    transform: translateX(18px);
                                }
                            }
                        }
                    }
                }
            }
        }
        .form-item {
            .fieldset-legend {
                color: white;
                font-size: 50px;
                line-height: 1.2;
                font-weight: 500;
                margin-bottom: 40px;
                display: block;
                @include media('<tablet-l') {
                    font-size: 35px;
                    margin-bottom: 25px;
                }
                @include media('<tablet') {
                    font-size: 28px;
                }
            }
        }
    }
    &__messages {
        line-height: 1.2;
        .messages--error {
            border-color: white;
            border-width: 1px;
            box-shadow: none;
            background-image: none;
        }
    }
    .decor-image {
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
        //opacity: .05;
        @include media('<tablet-l') {
            max-width: 320px;
        }
        @include media('<tablet') {
            display: none;
        }
    }
}

.questionnaire-step {
    &__assets {
        padding: 90px 0;
        @include media('<tablet-l') {
            padding: 40px 0;
        }
    }
}
.qsa {
    &--wrap {
        @include media('<tablet') {
            overflow: auto;
        }
    }
    &--list {
        display: flex;
        justify-content: center;
        @include media('>=tablet') {
            width: auto!important;
        }
        @include media('<tablet') {
            padding: 25px 0 70px;

        }
    }
    &--item {
        flex-basis: calc(20% - 1px);
        max-width: calc(20% - 1px);
        text-align: center;
        position: relative;
        background-color: white;
        color: #0d0d0d;
        display: flex;
        margin-left: 0.5px;
        margin-right: 0.5px;
        @include media('<tablet') {
            min-width: 250px;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
            height: 95%;
            background-color: white;
            transition: .4s;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: -52px;
            margin-left: -10px;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            background-color: inherit;
            opacity: 0;
            transform: scale(.5);
            pointer-events: none;
            transition: .5s;
        }
        &:hover {
            @include media('>=tablet-l') {
                z-index: 2;
                &:before {
                    width: calc(100% + 50px);
                    height: calc(100% + 30px);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                }
            }
        }
        .slider-line {
            display: block;
            width: calc(100% + 1px);
            height: 5px;
            position: absolute;
            bottom: -43px;
            left: 0;
            overflow: hidden;
            pointer-events: none;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                transition: .5s;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                right: 0;
                border: 1px solid transparent;
                border-left-width: 0;
            }
        }
        &:nth-child(1) {
            background-color: #64dea2;
            .slider-line {
                &:before {
                    background-color: #64dea2;
                }
            }
            .qsa--icon {
                .image-holder {
                    background-image: url('../images/icons/icon-guardian.png');
                }
            }
        }
        &:nth-child(2) {
            background-color: #ffab40;
            .slider-line {
                &:before {
                    background-color: #91e332;
                }
            }
            .qsa--icon {
                .image-holder {
                    background-image: url('../images/icons/icon-thinker.png');
                }
            }
        }
        &:nth-child(3) {
            background-color: #ffab40;
            .slider-line {
                &:before {
                    background-color: #ffab40;
                }
            }
            .qsa--icon {
                .image-holder {
                    background-image: url('../images/icons/icon-independet.png');
                }
            }
        }
        &:nth-child(4) {
            background-color: #e64a19;
            .slider-line {
                &:before {
                    background-color: #e64a19;
                }
            }
            .qsa--icon {
                .image-holder {
                    background-image: url('../images/icons/icon-trendspotter.png');
                }
            }
        }
        &:nth-child(5) {
            background-color: #c1272d;
            .slider-line {
                &:before {
                    background-color: #c1272d;
                }
            }
            .qsa--icon {
                .image-holder {
                    background-image: url('../images/icons/icon-adventurer.png');
                }
            }
        }
        &:first-child {
            .slider-line {
                border-radius: 5px 0 0 5px;
                &:after {
                    border-radius: inherit;
                }
            }
        }
        &:last-child {
            .slider-line {
                border-radius: 0 5px 5px 0;
                &:after {
                    border-radius: inherit;
                }
            }
        }
        &[class*='active']{
            &:after {
                opacity: 1;
                transform: scale(1);
            }
            .slider-line {
                &:before {
                    width: 50%;
                }
                &:after {
                    border-color: white;
                    border-right-width: 0;
                }
            }
            ~ .qsa--item {
                &:after {
                    display: none;
                }
                .slider-line {
                    &:before {
                        background-color: transparent;
                    }
                    &:after {
                        border-color: white;
                        width: 100%;
                        border-right-width: 0;
                    }
                }
                &:last-child {
                    .slider-line {
                        &:after {
                            border-right-width: 1px;
                        }
                    }
                }
            }
        }
    }
    &--group {
        position: relative;
        z-index: 1;
        padding: 0 22px 38px;
        background-color: white;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        @include media('<tablet-l') {
            padding: 0 12px 25px;
        }
    }
    &--icon {
        margin-top: -30px;
        margin-bottom: 10px;
        @include media('<tablet-l') {
            margin-top: -25px;
            margin-bottom: 10px;
        }
        .image-holder {
            margin: 0 auto;
            height: 79px;
            width: 79px;
            background-size: contain;
            background-repeat: no-repeat;
            transition: .4s;
            @include media('<tablet-l') {
                height: 59px;
                width: 59px;
            }
        }
    }
    &--text {
        margin-bottom: 23px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        @include media('<tablet-l') {
            font-size: 12px;
        }
        @include media('<tablet') {
            font-size: 14px;
        }
    }
    &--title {
        color: #414141;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 5px;
        @include media('<tablet-l') {
            font-size: 20px;
        }
    }
    &--subtitle {
        font-size: 18px;
        line-height: 1.2;
        color: #2199a1;
        margin-bottom: 12px;
        margin-top: auto;
        @include media('<tablet-l') {
            font-size: 16px;
        }
    }
    &--values {
        color: #333333;
        line-height: 1.2;
        li {
            font-size: 18px;
            margin-bottom: 1px;
            @include media('<tablet-l') {
                font-size: 14px;
            }
        }
    }
}