.link-arrow-1 {
    font-size: 18px;
    line-height: normal;
    text-decoration: underline;
    position: relative;
    display: inline-block;
    padding-right: 23px;
    &:hover {
        text-decoration: none;
    }
    &:after {
        @include icon-before('icon-arrow-r-red', false);
        font-size: 8px;
        position: absolute;
        right: 0;
        top: 5px;
        max-height: 11px;
    }
}

.link-arrow-2 {
    font-size: 20px;
    line-height: normal;
    text-decoration: underline;
    position: relative;
    display: inline-block;
    padding-right: 23px;
    color: white;
    @include media('<tablet-l') {
        font-size: 18px;
    }
    @include media('<tablet') {
        font-size: 14px;
    }
    &:hover {
        text-decoration: none;
    }
    &:after {
        @include icon-before('icon-arrow-r-white', false);
        font-size: 8px;
        position: absolute;
        right: 0;
        top: 7px;
        max-height: 11px;
        @include media('<tablet') {
            top: 8px;
        }
    }
}