%btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border: none;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:disabled {
        opacity: 0.7;
        box-shadow: none;
    }
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}
%btn-primary {
    @extend %btn;
    font-size: 18px;
    line-height: 1.7;
    padding: 10px 50px 10px 30px;
    transition: all .5s;
    min-width: 200px;
    letter-spacing: .07em;
    border: 1px solid transparent;
    text-transform: uppercase;
    position: relative;
    background-color: transparent;
    font-weight: 700;
    @include media('<tablet') {
        font-size: 13px;
        padding: 7px 45px 6px 12px;
    }
    &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-top: 1px solid currentColor;
        border-right: 1px solid currentColor;
        position: absolute;
        right: 20px;
        top: 16px;
        transform: rotate(45deg);
        transition: .3s border;
        @include media('<tablet') {
            width: 11px;
            height: 11px;
            top: 11px;
        }
    }
}
%btn-dark {
    @extend %btn-primary;
    color: $c-primary;
    border-color: $c-primary;
    &:hover {
        color: white;
        background-color: $c-primary;
    }
}
%btn-light {
    @extend %btn-primary;
    color: $c-bright;
    border-color: $c-bright;
    &:hover {
        color: white;
        background-color: $c-primary;
    }
}
