.info-block {
    &__row {
        display: flex;
        @include media('<tablet') {
            flex-direction: column;
        }
    }
    &__col {
        @include media('>=tablet') {
            width: 50%;
        }
        &.is-image {
            @include media('<tablet') {
                order: -1;
            }
        }
    }
    &__image {
        height: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 30px 30px 0 0;
        overflow: hidden;
        @include media('<tablet') {
            min-height: 315px;
            justify-content: center;
            margin-bottom: 15px;
        }
        img {
            @include media('<tablet') {
                //display: none;
                //max-width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__content {
        background-color: $c-str-1;
        @include media('>=tablet-l') {
            padding: 8.7vw 10vw 9.7vw 6.2vw;
        }
        @include media('<tablet-l', '>=tablet') {
            padding: 45px 27px;
        }
        @include media('<tablet') {
            padding: 40px 20px;
            //width: calc(100% - 20px);
            margin: 0 auto;
        }
    }
    &__icon {
        margin-bottom: 40px;
        @include media('<tablet-l') {
            margin-bottom: 15px;
        }
        @include media('<tablet') {
            display: none;
        }
        .q-icon {
            height: 70px;
            width: 45px;
            fill: $c-primary;
            @include media('<tablet-l', '>=tablet') {
                width: 21px;
                height: 35px;
            }
            @include media('<tablet') {
                height: 38px;
                width: 22px;
            }
        }
    }
    &__list {
        li, p {
            font-size: 22px;
            line-height: 26px;
            position: relative;
            @include media('<tablet-l', '>=tablet') {
                font-size: 16px;
                line-height: 24px;
            }
            @include media('<tablet') {
                font-size: 16px;
                line-height: 20px;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
                @include media('<tablet-l') {
                    margin-bottom: 20px;
                }
            }
        }
        li {
            padding-left: 45px;
            @include media('<tablet') {
                //padding-left: 17px;
            }
            &:before {
                content: '';
                background-image: url('../images/icons/svg/icon-checkmark-alt.svg');
                background-repeat: no-repeat;
                width: 26px;
                height: 23px;
                fill: $c-primary;
                position: absolute;
                left: 0;
                top: -1px;
            }
            .q-icon {
                width: 26px;
                height: 23px;
                fill: $c-primary;
                position: absolute;
                left: 0;
                top: -1px;
                @include media('<tablet') {
                    //width: 11px;
                    //height: 10px;
                    //top: 2px;
                }
            }
        }
        h3 {
            font-size: 26px;
            line-height: 36px;
            font-weight: 700;
            display: flex;
            max-width: 400px;
            margin-bottom: 15px;
            @include media('<tablet-l') {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
            }
            .q-icon {
                max-width: 55px;
                max-height: 55px;
                min-width: 50px;
                fill: $c-base;
                margin-right: 17px;
                @include media('<tablet-l') {
                    transform: scale(.7);
                    margin-right: 10px;
                    margin-top: -10px;
                    margin-left: -10px;
                }
                img {
                    width: auto;
                }
            }
            .q-icon-lock {
                width: 48px;
                height: 49px;
            }
            .q-icon-reward {
                width: 48px;
                height: 55px;
            }
            .q-icon-bank {
                width: 50px;
                height: 50px;
            }
            .q-icon-privacy {
                width: 52px;
                height: 52px;
            }
            + p {
                max-width: 450px;
                line-height: 28px;
                padding-bottom: 40px;
                padding-left: 65px;
                @include media('<tablet-l') {
                    padding-bottom: 20px;
                    padding-left: 57px;
                }
            }
        }
        + .info-block__list {
            padding-top: 50px;
            @include media('<tablet') {
                padding-top: 20px;
            }
        }
    }
    &__description {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 30px;
        @include media('<tablet') {
            font-size: 16px;
            line-height: 18px;
        }
    }
    &__btn {
        padding-top: 50px;
        @include media('<tablet-l') {
            padding-top: 15px;
        }
        a {
            @include media('<mobile-m') {
                width: 100%;
            }
        }
    }
    &__actions {
        padding-top: 50px;
        display: flex;
        align-items: center;
        @include media('<tablet') {
            padding-top: 30px;
            max-width: 70%;
        }
        a {
            transition: .3s opacity;
            display: block;
            &:first-child {
                margin-right: 15px;
            }
            &:hover {
                opacity: .8;
            }
        }
    }
    &__white {
        .info-block__content {
            background-color: transparent;
        }
        .info-block__image {
            @include media('<tablet') {
                //min-height: 1px;
            }
        }
        + .info-block__white {
            .info-block__image {
                padding-top: 0;
            }
            .info-block__content {
                @include media('>=tablet-l') {
                    padding-top: 110px;
                }
            }
        }
        + .features-block {
            padding-top: 0;
        }
    }
    &.is-image--right {
        .info-block__col {
            &:not(.is-image) {
                @include media('>=tablet') {
                    order: -1;
                }
            }
        }
    }
    &.is-image--left {
        .info-block__col {
             &.is-image {
                 @include media('>=tablet') {
                     order: -1;
                 }
             }
        }
        .info-block__image {
            background-position: center left;
        }
    }

    &.is-image--large {
        .info-block__content {
            @include media('>=tablet') {
                padding-right: 5vw;
            }
        }
        .info-block__image {
            @include media('>=tablet') {
                padding-right: 0;
            }
        }
        .info-block__col {
            &:not(.is-image) {
                @include media('>=tablet-l') {
                    padding-left: 11.197vw;
                }
            }
        }
        &.is-image--left {
            .info-block__col {
                &:not(.is-image) {
                    @include media('>=tablet-l') {
                        padding-left: 0;
                        .info-block__list {
                            max-width: 600px;
                        }
                    }
                }
            }
        }

    }
    &.is-image--small {
        justify-content: flex-end;
        .info-block__image {
            justify-content: flex-end;
            align-items: flex-start;
            @include media('>=tablet') {
                background-position: top right;
            }
            @include media('<tablet') {
                padding-right: 0;
                background-position: top center;
            }
        }
        .info-block__content {
            @include media('>=tablet') {
                padding-right: 85px;
            }
        }
        .info-block__col {
            &:not(.is-image) {
                @include media('>=tablet-l') {
                    padding-left: 7vw;
                }
            }
        }
    }
    &.is-not-top-space {
        .info-block__image {
            padding-top: 0;
            background-position: top center;
        }
        .info-block__content {
            padding-top: 0;
        }
    }
    &.is-image--contain {
        .info-block__image {
            background-size: cover;
        }
    }
    .block-title {
        font-weight: 300;
        &.-diff-divide {
            strong {
                display: inline;
            }
        }
        @include media('>=tablet') {
            margin-bottom: 40px;
        }
        b, .strong {
            font-weight: 700;
            display: inline-block;
        }
    }
}