.open-account-form {
    background-color: $c-str-1;
    padding: 90px 0;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 490px;
        height: 1010px;
        left: -30px;
        top: 90px;
        opacity: .5;
        pointer-events: none;
        background-image: url('../images/icons/svg/icon-logo-large-light.svg');
        background-repeat: no-repeat;
    }
    .base-form {
        position: relative;
        z-index: 2;
    }
}
.open-account-dialog {
    //width: 1000px;
    background-image: linear-gradient(-66deg, #3953a4 0%, #152c6f 100%);
    color: white;
    text-align: center;
    position: relative;
    min-height: 590px;
    display: flex;
    justify-content: center;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 295px;
        height: 515px;
        left: 0;
        bottom: 0;
        opacity: .05;
        pointer-events: none;
        background-image: url('../images/icons/svg/icon-logo-large-light.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.oas {
    &--wrap {
        display: flex;
        align-items: center;
        padding: 50px;
    }
    &--head {
        font-size: 50px;
        line-height: 48px;
        margin-bottom: 35px;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 52px;
            top: -30px;
            left: calc(50% - 30px);
            border-right: 2px solid;
            border-top: 2px solid;
            transform: scaleX(-1) rotate(135deg);
            transform-origin: left top;
            border-color: transparent;
            animation: checkbox-check .35s cubic-bezier(.4,.0,.23,1) forwards;
            animation-delay: .3s;
        }
    }
    &--title {
        font-weight: 300;
    }
    &--subtitle {
        font-weight: 700;
    }
    &--text {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 55px;
        max-width: 530px;
        margin-left: auto;
        margin-right: auto;
    }
    &--cta {
        a {
            @extend %btn-light;
        }
    }
}
@keyframes checkbox-check {
    0% { height: 0; width: 0; border-color: transparent;}
    25% { height: 0; width: 10px; border-color: transparent;}
    100% { width: 18px;  height: 52px; border-color: $c-bright;}
}