@font-face {
    font-family: 'quicksand-regular';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'quicksand-medium';
    src: url('../fonts/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'quicksand-bold';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
}