<section class="graphs-output">
	<div class="sec-logo"><img class="" src="/sites/questor.dd/files/Navigation.png"></div>

	<div class="sec-graph">
		<div class="graph-header">
			<div class="graph-image-wraper">
				<div class="header-image"><img src="/themes/custom/q8_tur/images/icons/icon-guardian.png"><span class="title">Guardian</span>
				</div>
			</div>
			<div class="header-title">tactical allocation</div>
			<div class="header-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
		<div class="graph-body">
			<div class="line-chart">
				<div class="linechart__container">
					<canvas id="linechart" aria-label="Line Chart" role="img"></canvas>
					<div id="chartjs-tooltip">
						<div class="title">Projected Value</div>
						<div class="value"></div>
					</div>
					<div class="actions-buttons">
						<div class="left"></div>
						<div class="right"></div>
					</div>
				</div>
				<div class="initial-investment">
					<label for="initial-investment">initial investment</label>
					<div class="input-group">
						<div class="input-controls">
							<div class="increment">+</div>
							<div class="decrement">-</div>
						</div>
						<input type="text" value="$100.000" class="" id="initial-investment">
					</div>
				</div>
			</div>
			<div class="pie-chart">
				<canvas width="70%" height="40%" id="piechart" aria-label="PieChart" role="img"></canvas>
				<div class="pie-legend">
					<ul></ul>
				</div>
			</div>
		</div>
		<div class="graph-footer">
			<div class="footer-title">lorem ipsum dolor set!</div>
			<div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
			<div class="footer-button">
				<a href="javascript:void(0);">start investing</a>
			</div>
		</div>
	</div>
</section>
