.front-banner {
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    @include media('>=tablet') {
        height: 100vh;
    }
    @include media('>=tablet-l') {
        margin-top: -143px;
    }
    @include media('<tablet-l', '>=tablet') {
        margin-top: -124px;
    }
    @include media('<tablet') {
        margin-top: -103px;
        height: 395px;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/backgrounds/bg-front-banner-1.jpg);
        background-color: $c-primary;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        position: relative;
        z-index: 1;
        @include media('<tablet') {
            padding-top: 75px;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 300;
        @include media('>=tablet-l') {
            font-size: 68px;
            line-height: 70px;
        }
        @include media('<tablet-l', '>=tablet') {
            font-size: 48px;
            line-height: 48px;
        }
        @include media('<tablet') {
            font-size: 24px;
            line-height: 24px;
        }
        h1 {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
        b, strong {
            display: block;
            font-weight: 700;
        }
    }
    &__description {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 15px;
        @include media('<tablet') {
            font-size: 16px;
            line-height: 16px;
        }
    }
    &__note {
        font-size: 28px;
        margin-bottom: 15px;
        font-weight: 700;
        @include media('<tablet') {
            font-size: 16px;
        }
    }
}