.front-banner {
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    @include media('>=tablet') {
        height: 100vh;
    }
    @include media('>=tablet-l') {
        margin-top: -143px;
    }
    @include media('<tablet-l', '>=tablet') {
        margin-top: -124px;
    }
    @include media('<tablet') {
        margin-top: -103px;
        height: 395px;
    }
    &--main {
        @include media('>=tablet-l') {
            margin-top: -151px;
            height: 730px;
        }
        @include media('<tablet-l', '>=tablet') {
            height: 405px;
            margin-top: -105px;
        }
        @include media('<tablet') {
            height: 480px;
            margin-top: -105px;
        }
        .front-banner__inner {
            padding-top: 105px;
            @include media('<tablet-l') {
                padding-top: 70px;
            }
        }
        .front-banner__title {
            @include media('<tablet') {
                font-size: 32px;
                line-height: 35px;
            }
        }
    }
    &.is-center {
        text-align: center;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $c-primary;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        position: relative;
        z-index: 1;
        @include media('<tablet') {
            padding-top: 75px;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 300;
        @include media('>=tablet-l') {
            font-size: 68px;
            line-height: 70px;
        }
        @include media('<tablet-l', '>=tablet') {
            font-size: 32px;
            line-height: 40px;
        }
        @include media('<tablet') {
            font-size: 24px;
            line-height: 26px;
        }
        h1 {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
        b, strong {
            font-weight: 700;
            @include media('>=tablet') {
                display: block;
            }
        }
    }
    &__description {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 15px;
        @include media('<tablet-l') {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 5px;
        }
    }
    &__note {
        font-size: 28px;
        margin-bottom: 15px;
        font-weight: 700;
        @include media('<tablet-l') {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 25px;
        }
    }
    &__btn {
        a {
            @include media('<tablet') {
                width: 100%;
            }
        }
    }
}