$c-base: #414141;
$c-primary: #3953A4;
$c-secondary: #152C6F;
$c-bright: #F1D733;
$c-bright-1: #00a547;
$c-bright-2: #ff0000;;
$c-str: #D1D1D1;
$c-str-1: #F2F0F0;
$c-str-2: #004f61;
$c-str-3: #f7f7f7;
$c-str-4: #F2F4F5;
$c-str-5: #BEBEBE;
$c-str-6: #f1efef;
$c-str-7: #9b9b9b;
$c-str-8: #ababab;;
$c-ico: #FF4C55;
$c-error: #FD0019;
$c-success: #83C331;
