.block-title {
    color: $c-base;
    position: relative;
    margin-bottom: 20px;
    max-width: 600px;
    font-family: $f-secondary-b;
    @include media('>=tablet-l') {
        font-size: 50px;
        line-height: 52px;
    }
    @include media('<tablet-l', '>=tablet') {
        font-size: 28px;
        line-height: 37px;
    }
    @include media('<tablet') {
        font-size: 28px;
        line-height: 32px;
    }
    b, strong {
        font-weight: normal;
        @include media('>=tablet-l') {
            display: block;
        }
    }
}
.field__label{
    margin-bottom: 5px;
}