{%
  set classes = [
  'layout',
  'layout--onecol',
]
%}
{% if content %}
  {% if content.content.field_article_categories[0] %}
    {{ content.content.field_article_categories }}
  {% endif %}
  <div class="nb-item__group">
    {{ content.content.node_post_date }}
    {{ content.content.node_title }}
  </div>
  {{ content.content.node_link }}
{% endif %}
