.moderation-dashboard {
    .moderation-dashboard-block {
        background-color: white;
        border-radius: 0;
        border-bottom: 4px solid $c-bright;
    }
    h5 {
        line-height: 20px;
    }
    .views-field-revision-uid,
    .views-field-uid {
        font-size: 14px;
    }
    .views-field-revision-timestamp {
        font-size: 14px;
    }
    .views-field-created {
        font-size: 14px;
    }
}