{%
  set classes = [
  'config_pages',
  'front-banner',
  'block-section',
  'front-banner--main',
  'is-center',
  'config_pages--type--' ~ config_pages.bundle|clean_class,
  view_mode ? 'config_pages--view-mode--' ~ view_mode|clean_class,
  view_mode ? 'config_pages--' ~ config_pages.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}

<div class="front-banner block-section front-banner--main is-center">
  <div class="front-banner__bg skrollable skrollable-before"
       data-top-bottom="transform: translate3d(0px, 30%, 0px);"
       data--200-top="transform: translate3d(0px, 0%, 0px);"
       style="background-image: url({{ content.field_title_background[0]|render }}); transform: translate3d(0px, 0%, 0px);">
  </div>

  <div class="front-banner__inner skrollable skrollable-before"
       data-top-bottom="transform: translate3d(0px, -30%, 0px); opacity: 0;"
       data--200-top="transform: translate3d(0px, 0%, 0px); opacity: 1;"
       style="transform: translate3d(0px, 0%, 0px); opacity: 1;">

    <div class="page-frame">
      {% if content.field_title[0] %}
        <div class="front-banner__title">
          <h1>
            {{ content.field_title[0] }}
          </h1>
        </div>
      {% endif %}

      {% if content.field_subtitle[0] %}
        <div class="front-banner__description block-center">
          {{ content.field_subtitle }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
