.main-footer {
  background-color: white;
  .page-frame{
    @media (min-width: 768px){
      padding-right: 18px;
      padding-left: 16px;
    }
  }
  &:not(.is-light) {
    background-color: $c-str;
  }
  @include media('>=tablet') {
    padding: 37px 0;
  }
  @include media('<tablet') {
    padding: 17px 0;
  }
  &__inner {
    display: flex;
    @include media('>=tablet') {
      align-items: center;
    }
    @include media('<tablet') {
      flex-direction: column;
    }
  }
  &__powered {
    font-size: 16px;
    display: flex;
    align-items: center;
    @include media('<tablet-l') {
      flex-basis: 35%;
    }
    @include media('<tablet') {
      font-size: 14px;
      justify-content: center;
      margin-bottom: 20px;
    }
    .powered-title{
      margin-right: 20px;
    }
  }
  &__right {
    margin-left: auto;
    @include media('<tablet-l') {
      margin-left: 0px;
    }
    @include media('>=tablet') {
      display: flex;
      align-items: center;
    }
    @include media('<tablet') {
      text-align: center;
      margin-left: 0;
    }
  }
  &__copyright {
    font-size: 16px;
    color: $c-str-9;
    @include media('<tablet-l') {
      font-size: 13px;
      margin: 0 20px;
    }
    @include media('>=tablet') {
      margin-right: 40px;
    }
    @include media('<tablet') {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 5px;
    }
  }
  &__nav {
    font-size: 16px;
    color: $c-str-9;
    @include media('<tablet') {
      font-size: 14px;
      line-height: 14px;
    }
    a {
      color: $c-str-9;
      &:hover {
        text-decoration: underline;
        color: #414141;
      }
    }
    .field__items{
      display: flex;
      flex-wrap: wrap;
      .field__item:not(:last-child){
        margin-right: 40px;
      }
    }
  }
  .powered-title {
    @include media('<tablet') {
      margin-right: 10px;
    }
  }
  .q-icon {
    width: 126px;
    height: 55px;
    fill: $c-str-2;
    @include media('>=tablet-l') {
      margin-left: 15px;
    }
    @include media('<tablet') {
      width: 90px;
      height: 42px;
    }
  }
  .legal-disclaimer {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $c-str;
    padding-bottom: 30px;
    color: $c-str-9;
    @include media('<tablet') {
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    .field__label{
      color: $c-base;
      font-family: $f-secondary-b;
      font-weight: normal;
    }
  }
}