.contact-us-block{
  background-color: #F2F0F0;
  padding: 100px 0;
  .general-cms{
    .h2-component{
      h2{
        margin: 0;
        padding: 0px 140px 32px;
      }
      .webform-actions{
        margin: 0 auto;
        width: 20%;
        display: block;
        &:after{
          top: 44%;
          transform: translateY(-50%);
        }
      }
      .input-group{
        margin: 0 140px;
        display: flex;
        flex-wrap: wrap;
        &.form-item-name,&.form-item-email{
          width: calc(50% - 10px);
          margin-right: 20px;
          float: left;
        }
        &.form-item-last-name,&.form-item-phone-number{
          width: calc(50% - 10px);
          margin-left: 0;
          display: inline-block;
        }
        &.form-item-message{
          .form-textarea-wrapper{
            width: 100%;
          }
        }
        .input-col{
          position: relative;
          margin-bottom: 16px;
          &.center{
            text-align: center; 
          }
          button[type="submit"]{
            border: 1px solid #3A54A4;
            color: #3A54A4;
            border-radius: 50px;
            height: auto;
            padding: 15px 70px 15px 50px;
            line-height: 1;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;
            margin-top: 30px;
            &:after{
              content: "";
              width: 11px;
              height: 11px;
              border-width: 1px 1px 0 0;
              border-style: solid;
              border-color: #3A54A4;
              display: inline-block;
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-58%) rotate(45deg);
            }
            &:hover{
              background-color: #3A54A4;
              color: #fff;
              &:after{
                border-color: #fff;
              }
            }
          }
        }
      }
      .input-col:not(.w-100){
        flex-basis: calc(50% - 10px);
        &:first-child{
          margin-right: 20px;
        }
      }

      input:not(.webform-button--submit),select,textArea{
        width: 100%;
        border: 1px solid #D1D1D1;
        font-size: 20px;
        font-family: "quicksand-regular";
        color: #575757;
        +label{
          font-size: 20px;
          font-family: "quicksand-regular";
          position: absolute;
          left: 0;
          top: 30px;
          transform: translateY(-50%);
          padding: 0 20px;
          color: #575757;
          line-height: 0;
          transition: all 200ms;
        }
        &:focus{
          border-color: #3A54A4;
          + label{
            font-size: 14px;
            font-family: "quicksand-bold";
            top: 1px;
            background: linear-gradient(to bottom, #f2f0f0 0%,#f2f0f0 50%,#ffffff 50%, #ffffff 100%);
            line-height: 1;
            padding: 0;
            left: 20px;
            transition: all 200ms;
            color: #3A54A4;
          }
        }
        &:valid{
          + label{
            font-size: 14px;
            font-family: "quicksand-bold";
            top: 1px;
            background: linear-gradient(to bottom, #f2f0f0 0%,#f2f0f0 50%,#ffffff 50%, #ffffff 100%);
            line-height: 1;
            padding: 0;
            left: 20px;
            transition: all 200ms;
            color: #3A54A4;
          }
        }
      }
      input,select{
        height: 60px;
        padding: 0 20px;
      }
      textarea{
        padding: 20px;
      }
    }
  }
}
.quote{
  background-color: #3A54A4;
  padding: 50px 0;
  .general-cms{
    padding: 0 140px;
    p{
      font-size: 24px;
      line-height: 32px;
      font-family: "quicksand-bold";
      color: #fff;
      text-align: center;
      padding: 0 30px;
      &:before{
        content: url(../images/first-quote.png);
        display: block;
        padding-bottom: 30px;
      }
      &:after{
        content: url(../images/last-quote.png);
        display: block;
        padding-top: 35px;
      }
    } 
  }
}
.general-cms{
  max-width: 1220px;
  margin: 0 auto;
  .h2-component{
    h2{
      font-family: "quicksand-bold";
      font-size: 50px;
      line-height: 52px;
      margin-top: 90px;
      margin-bottom: 32px;
      padding: 0 140px;
    }
    > strong{
      font-family: "quicksand-medium";
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 35px;
      padding: 0 140px;
      display: block;
    }
    p{
      font-family: "quicksand-regular";
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 35px;
      padding: 0 140px;
      strong,a{
        font-family: "quicksand-bold";
      }
      a{
        color: #3953A4;
        text-decoration: underline;
      }
    }
    img{
      padding: 25px 0 60px 0;
    }
  }
  .h3-component{
    h3{
      margin-top: 25px;
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 52px;
      font-family: "quicksand-bold";
      padding: 0 140px;
    }
    p{
      font-family: "quicksand-regular";
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 35px;
      padding: 0 140px;
    }
    ul,ol{
      list-style-type: none;
      padding: 0 140px;
      margin-bottom: 35px;
      li{
        font-size: 22px;
        line-height: 32px;
        position: relative;
        margin-top: 20px;
        padding: 0 20px 10px 30px;
        font-family: "quicksand-regular";
        &:before{
          content: "";
          width: 5px;
          height: 5px;
          padding: 5px;
          background: #3A54A4;
          border-radius: 20px;
          position: absolute;
          left: 0;
          top: 10px;
        }
      }
    }
    ol{
      li{
        counter-increment: list;
        &:before{
          font-family: "quicksand-bold";
          color: #3A54A4;
          content: counter(list) ".";
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          padding: 0;
        }
      }
    }
    &.video{
      h3{
        font-size: 22px;
      }
      .video-component{
        position: relative;
        padding: 25px 0 60px 0;
        .play-btn{
          position: absolute;  
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          cursor: pointer;
          img{
            padding: 0;
          }
        }
        iframe{
          width: 100%;
          height: 680px;
          display: none;
        }
      }
    }
    .table-title{
      padding: 0 10px;
    }
  }
  table{
    width: 100%;
    table-layout: fixed;
    border-spacing: 7px;
    border-collapse: separate;
    border-bottom: 2px solid #B7B7B7;
    padding-bottom: 30px;
    margin-bottom: 40px;
    background-color: #fff;
    &.no-border{
      border: none;
    }
    thead{
      td{
        padding: 30px 25px 20px 25px;
        text-align: center;
        text-transform: uppercase;
        font-family: "quicksand-bold";
        font-size: 16px;
        line-height: 22px;
        border-bottom: 5px solid #F1D733;
        vertical-align: middle;
        box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.1);
        &.w-40{
          width: 50%;
        }
        &.w-20{
          width: 15%;
        }
        &.a-left{
          text-align: left;
        }
        &.c-swap{
          background-color: #3953a4;
          color: #fff;
        }
      }
    }
    tbody{
      tr{
        &:nth-child(odd){
          background-color: #f4f4f4;
        }
      }
      td{
        padding: 25px 25px 20px;
        font-size: 18px;
        line-height: 23px;
        font-family: "quicksand-regular";
        &.bold{
          font-family: "quicksand-bold";
        }
        &.a-left{
          text-align: left;
        }
        &.a-center{
          text-align: center;
        }
        &.check{
          position: relative;
          &:before,&:before{
            content: '';
            width: 30px;
            height: 30px;
            background-color: #3953a4;
            border-radius: 100%;
            display: inline-block;
          } 
          &:after{
            content: "";
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            position: absolute;
            left: 50%;
            top: 46%;
            width: 9px;
            height: 17px;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
          }
        }
        &.cross{
          span{
            background-color: #e64a19;
            width: 30px;
            height: 30px;
            position: relative;
            display: inline-block;
            border-radius: 100%;
            &:before,&:after{
              position: absolute;
              top: 50%;
              left: 50%;
              content: ' ';
              height: 20px;
              width: 2px;
              background-color: #fff;
            }
            &:after{
              transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
            &:before{
              transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            }
          } 
        }
      }
    }
  }
  .two-col-image{
    padding: 40px 140px;
    display: flex;
    flex-wrap: wrap;
    > div {
      flex-basis: calc(50% - 20px);
      h3,p{
        padding: 0;
      }
      &.h3-component{
        margin-right: 40px;
        h3{
          margin-top: 5px;
        }
      }
    }
    &.swap{
      flex-direction: row-reverse;
      > div {
        &.h3-component{
          margin-left: 40px;
          margin-right: 0px;
        }
      }
    }
    + .two-col-image {
      padding-top: 0; 
    }
  }
}