@import 'core/core';

.features-block {
    @include media('>=tablet-l') {
        padding: 175px 0 130px;
    }
    @include media('<tablet-l', '>=tablet') {
        padding: 50px 0;
    }
    @include media('<tablet') {
        padding: 40px 0;
    }
    &.is-background {
        background-color: $c-str-3;
        position: relative;
        overflow: hidden;
        padding-top: 165px!important;
        @include media('<tablet-l', '>=tablet') {
            padding-top: 50px!important;
        }
        @include media('<tablet') {
            padding-top: 40px!important;
        }
        &:before {
            content: '';
            background-image: url('../images/icons/svg/icon-logo-large-light.svg');
            background-repeat: no-repeat;
            background-position: left bottom;
            display: block;
            bottom: -360px;
            position: absolute;
            width: 717px;
            height: 1245px;
            left: -25px;
            opacity: .65;
            pointer-events: none;
            @include media('<tablet-l') {
                display: none;
            }
        }
    }
    &__grid {
        max-width: $sw-site-l;
        margin-right: auto;
        margin-left: auto;
        padding-top: 45px;
        @include media('>=tablet') {
            display: flex;
            justify-content: space-between;
        }
        @include media('<tablet') {
            padding-top: 40px;
        }
    }
    &__col {
        padding: 0 10px;
        text-align: center;
        @include media('>=tablet') {
            width: calc(100% / 3);
            max-width: 275px;
            flex-shrink: 1;
            height: auto;
        }
        @include media('<tablet') {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .block-description {
        margin-bottom: 0;
    }
    .fb-icon {
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 215px;
        @include media('<tablet-m', '>=tablet') {
            width: 180px;
        }
        @include media('<tablet') {
            margin-bottom: 25px;
        }
        .q-icon {
            fill: $c-primary;
            width: 215px;
            height: 215px;
            @include media('<tablet-m', '>=tablet') {
                width: 180px;
                height: 180px;
            }
        }
    }
    .fb-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 30px;
        max-width: 185px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        @include media('>=tablet-l') {
            //min-height: 52px;
        }
        @include media('<tablet-l') {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 15px;
            //min-height: 36px;
        }
        @include media('<tablet') {
            min-height: 1px;
        }
    }
    .fb-desc {
        font-size: 20px;
        line-height: 26px;
        @include media('<tablet-l') {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &.is-slider {
        .features-block__col {
            @include media('<tablet') {
                margin-bottom: 0;
            }
        }
        .fb-icon {
            .q-icon {
                @include media('<tablet') {
                    width: 140px;
                    height: 140px;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            margin-top: -40px;
            @include media('>=tablet') {
                display: none;
            }
        }
    }
}