@import 'core/core';

.rates-block {
    padding: 85px 0 100px;
    background-color: $c-str-1;
    @include media('<tablet-l') {
        padding: 40px 0;
    }
    &__title {
        text-align: center;
        font-size: 50px;
        line-height: 42px;
        margin-bottom: 50px;
        font-family: $f-secondary-b;
        @include media('<tablet-l') {
            font-size: 28px;
        }
        b {
            font-weight: 700;
        }
    }
    &__desc {
        text-align: center;
        font-size: 22px;
        line-height: 32px;
        max-width: 915px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
        @include media('<tablet-l') {
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 30px;
        }
    }
    &__inner {
        position: relative;
    }
    &__list {
        @include media('>tablet') {
            display: flex;
            justify-content: center;
            margin-left: -12px;
            margin-right: -12px;
        }
    }
    &__item {
        text-align: center;
        position: relative;
        @include media('>tablet') {
            margin-left: 6px;
            margin-right: 6px;
            flex-basis: 0;
            flex-grow: 1;
        }
        @include media('<tablet') {
            padding: 0 10px;
        }
    }
    &__icon {
        .q-icon {
            width: 300px;
            height: 300px;
            fill: $c-white;
            @include media('<tablet-l') {
                width: 240px;
                height: 240px;
            }
            @include media('<tablet') {
                width: 240px;
                height: 240px;
            }
        }
    }
    &__content {
        position: absolute;
        width: 100%;
        top: 62px;
        left: 50%;
        transform: translateX(-50%);
        @include media('<tablet-l') {
            top: 40px
        }
    }
    &__text {
        font-size: 22px;
        line-height: 32px;
        font-family: $f-secondary-b;
        width: 60%;
        margin: 0 auto;
        @include media('<tablet-l') {
            font-size: 18px;
            line-height: 24px;
            max-width: 170px;
        }
    }
    &__rate {
        color: $c-primary;
        font-family: $f-secondary-b;
        font-size: 68px;
        line-height: 70px;
        margin-bottom: 10px;
        @include media('<tablet-l') {
            font-size: 48px;
            line-height: normal;
            margin-bottom: 5px;
        }
    }
    &__btn {
        text-align: center;
        padding-top: 50px;
        @include media('<tablet') {
            padding-top: 30px;
        }
        a {
            @extend %btn-dark;
        }
    }
    .swiper-container  {
        @include media('>tablet') {
            overflow: visible;
        }
    }
    .page-frame {
        position: relative;
        z-index: 1;
        @include media('<tablet') {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        @include media('>tablet') {
            display: none;
        }
    }
}