&--lang {
    margin-right: 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    @include media('<tablet') {
        font-size: 12px;
        margin-right: 15px;
    }
    .q-icon {
        width: 17px;
        height: 17px;
        fill: white;
    }
    a {
        color: white;
        display: block;
        cursor: pointer;
    }
    li {
        cursor: pointer;
        display: block;
        &:hover {
            a {
                color: $c-bright;
                &:after {
                    fill: $c-bright;
                }
            }
        }
        &:not(.is-current) {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 10;
        }
        &.is-current {
            cursor: pointer;
            a {
                padding-right: 20px;
                display: block;
                pointer-events: none;
                @include media('<tablet') {
                    padding-right: 15px;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 11px;
                    height: 11px;
                    border-top: 2px solid currentColor;
                    border-right: 2px solid currentColor;
                    position: absolute;
                    right: 0;
                    top: 7px;
                    transform: rotate(135deg);
                    transition: .3s fill, .3s transform;
                    font-size: 18px;
                    @include media('<tablet') {
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
    }
    &__list {
        position: relative;
        cursor: pointer;
        &.is-active {
            li.is-current {
                a {
                    color: $c-bright;
                    &:after {
                        top: 14px;
                        transform: rotate(-45deg);
                        @include media('<tablet') {
                            top: 9px;
                        }
                    }
                }
            }
        }
    }
    &__main {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        @include media('<=tablet-l'){
            position: relative;
            margin-right: 28px;
            &:before {
                content: '';
                display: block;
                width: 1px;
                height: 24px;
                background-color: white;
                position: absolute;
                right: -14px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-icon {
            width: 17px;
            height: 17px;
            @include media('>tablet-l') {
                margin-right: 7px;
                pointer-events: none;
            }
            @include media('<=tablet-l') {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
        &-list {
            display: flex;
            align-items: center;
            @include media('<=tablet-l') {
                display: none;
                position: absolute;
                flex-direction: column;
                left: 0;
                top: 100%;
                margin-top: 7px;
            }
        }
        .q-icon {
            fill: white;
            height: 100%;
            width: 100%;
        }
        a {
            color: white;
            display: block;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        li {
            position: relative;
            &:not(:last-child) {
                @include media('>tablet-l') {
                    padding-right: 12px;
                    margin-right: 12px;
                    &:after {
                        content: '';
                        display: block;
                        width: 2px;
                        height: 14px;
                        background-color: white;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                @include media('<=tablet-l') {
                    margin-bottom: 7px;
                }
            }
            &.is-active {
                a {
                    text-decoration: underline;
                    color: white;
                }
            }
        }
    }
}
&--links {
    @include media('>tablet-l') {
        margin-left: auto;
    }
    @include media('<=tablet-l') {
        &:not(.is-visible) {
            display: none;
        }
    }
    &__list {
        color: white;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        line-height: 1.2;
        @include media('<=tablet-l') {
            justify-content: center;
            padding-bottom: 50px;
            font-size: 20px;
        }
        @include media('<tablet') {
            font-size: 16px;
            padding-bottom: 20px;
        }
        li {
            padding-top: 0;
            &:not(:last-child) {
                @include media('>tablet-l') {
                    margin-right: 30px;
                }
                @include media('<=tablet-l') {
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 18px;
                        width: 1px;
                        background-color: white;
                        top: 50%;
                        right: -22px;
                        transform: translateY(-50%);
                    }
                }
            }
            @include media('<=tablet-l') {
                margin: 0 20px;
            }
        }
        a {
            color: inherit;
            &:hover {
                color: $c-bright;
            }
        }
    }
}
&--main {
    &__list {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        @include media('<=tablet-l') {
            flex-direction: column;
            font-size: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid white;
            margin-bottom: 70px;
        }
        @include media('<tablet') {
            font-size: 16px;
            margin-bottom: 30px;
            padding-bottom: 20px;
        }
        li {
            padding-top: 0;
            &:not(:last-child) {
                @include media('>tablet-l') {
                    margin-right: 30px;
                }
            }
            @include media('<=tablet-l') {
                margin-bottom: 15px;
            }
            @include media('<tablet') {
                margin-bottom: 5px;
            }
        }
        a {
            color: inherit;
            &:hover {
                color: $c-bright;
            }
        }
    }
}
&--user {
    font-size: 18px;
    font-weight: 700;
    @include media('<tablet') {
        font-size: 12px;
    }
    ul {
        display: flex;
        align-items: center;
        @include media('<=tablet-l') {
            justify-content: center;
        }
    }
    a {
        color: white;
        text-transform: uppercase;
        &:hover {
            color: $c-bright;
            .q-icon {
                fill: $c-bright;
            }
        }
    }
    .q-icon {
        transition: .3s fill;
        fill: white;
        width: 19px;
        height: 19px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-left: 7px;
        @include media('<tablet') {
            width: 16px;
            height: 16px;
        }
    }
}