@import 'core/core';

.tabs-filters {
    @include media('>=tablet') {
        background-color: white;
        border-bottom: 1px solid $c-str-8;
    }
    .page-frame {
        @include media('<tablet-l', '>=tablet') {
            max-width: none;
            padding: 0;
        }
    }
    &__wrap {
        position: relative;
    }
    &__selected {
        padding: 0 30px 0 15px;
        border: 1px solid $c-str-8;
        height: 37px;
        line-height: 37px;
        position: relative;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid $c-primary;
            border-right: 2px solid $c-primary;
            transform: rotate(45deg);
            position: absolute;
            right: 12px;
            top: 12px;
        }
        &.is-active {
            &:after {
                transform: rotate(-135deg);
                top: 15px;
            }
        }
        @include media('>=tablet') {
            display: none;
        }
    }
    &__drop {
        @include media('<tablet') {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 10;
            transition: .5s;
            &:not(.is-visible) {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-5px);
            }
        }
    }
    .bef-links {
        font-weight: 500;
        font-size: 20px;
        @include media('>=tablet') {
            display: flex;
            justify-content: center;
        }
        @include media('<=tablet-l') {
            font-size: 16px;
        }
        a {
            color: $c-base;
            display: flex;
            align-items: center;
            padding: 27px 70px;
            position: relative;
            overflow: hidden;
            min-width: 105px;
            line-height: normal;
            @include media('>=tablet') {
                justify-content: center;
            }
            @include media('<=tablet-l') {
                padding: 15px 20px;
            }
            @include media('<tablet') {
                padding: 8px 15px;
                border: 1px solid $c-str-8;

            }
            &:after {
                @include media('>=tablet') {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 6px;
                    background-color: $c-primary;
                    left: 0;
                    bottom: 0;
                    transform: translateY(100%);
                    transition: .3s;
                }
                @include media('<tablet-l', '>=tablet') {
                    height: 4px;
                }
            }
            &:hover {
                &:after {
                    @include media('>=tablet') {
                        transform: translateY(0);
                    }
                }
            }
        }
        > div {
            @include media('>=tablet') {
                flex-grow: 1;
                max-width: 50%;
            }
            &:not(:last-child) {
                @include media('>=tablet') {
                    border-right: 1px solid $c-str-8;
                }
            }
            &:not(.bef-link-active) {
                @include media('<tablet') {
                    a {
                        background-color: white;
                        margin-top: -1px;
                    }
                }
            }
        }
        .bef-link-active {
            @include media('<tablet') {
                order: -1;
                display: none;
                a {
                    padding-right: 30px;
                    background-color: $c-str-1;
                }
            }
            a {
                &:after {
                    @include media('>=tablet') {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    .form-item {
        margin-bottom: 0;
    }
    .form-actions {
        display: none;
    }
}
