<div class="overview-articles block-bg">
  <div class="page-frame">
    <div class="news-block__title">{{ content.field_title }}</div>
    {{ content.field_content }}
    <div class="news-block__cta"><span class="btn-primary__dark">{{ content.field_link }}</span></div>
  </div>
</div>