<form{{ attributes }}>
    {{ form.search }}
    {{ form.submit }}
    <div class="header-search__action--icon">
        <svg class="q-icon"><use xlink:href="#icon-search"></use></svg>
    </div>
</form>

