@media print {
    * {
        background: white !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -webkit-print-color-adjust:exact;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    }
}