<div class="front-banner block-section front-banner--main is-center">
  <div class="front-banner__bg skrollable skrollable-before" data-top-bottom="transform: translate3d(0px, 30%, 0px);" data--200-top="transform: translate3d(0px, 0%, 0px);" style="{% if bg_url %} background-image: url('{{ bg_url|trim }}'); {% endif %} transform: translate3d(0px, 0%, 0px);">
  </div>
  <div class="front-banner__inner skrollable skrollable-before" data-top-bottom="transform: translate3d(0px, -30%, 0px); opacity: 0;" data--200-top="transform: translate3d(0px, 0%, 0px); opacity: 1;" style="transform: translate3d(0px, 0%, 0px); opacity: 1;">
    <div class="page-frame">
      <div class="front-banner__title">
        {% for item in items %}
          {{ item.content }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
